@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite; */

  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite
;
  @keyframes marquee {
  from {
    transform: translateX(0);}
  to {
    transform: translateX(calc(-100% - var(--gap)));}}
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);}
  to {
    transform: translateY(calc(-100% - var(--gap)));}}}

:root {
  --background: oklch(0.985 0 0);
  --card: oklch(0.985 0 0);
  --popover: oklch(0.985 0 0);
  --sidebar: oklch(0.985 0 0);
  --foreground: oklch(0.215 0 0);
  --card-foreground: oklch(0.215 0 0);
  --popover-foreground: oklch(0.215 0 0);
  --sidebar-foreground: oklch(0.215 0 0);
  --primary: oklch(0.675 0.154 39);
  --sidebar-primary: oklch(0.675 0.154 39);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.882 0 0);
  --accent: oklch(0.882 0 0);
  --sidebar-accent: oklch(0.882 0 0);
  --secondary-foreground: oklch(0.218 0 0);
  --accent-foreground: oklch(0.218 0 0);
  --sidebar-accent-foreground: oklch(0.218 0 0);
  --muted: oklch(0.923 0 0);
  --muted-foreground: oklch(0.596 0.011 42);
  --destructive: oklch(0.608 0.23 28);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.881 0.015 44);
  --sidebar-border: oklch(0.881 0.015 44);
  --ring: oklch(0.836 0.045 39);
  --sidebar-ring: oklch(0.836 0.045 39);
  --input: oklch(0.881 0.013 41);
  --chart-1: oklch(0.675 0.154 39);
  --chart-2: oklch(0.632 0.17 33);
  --chart-3: oklch(0.671 0.141 53);
  --chart-4: oklch(0.563 0.197 26);
  --chart-5: oklch(0.576 0.147 38);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.193 0 0);
  --card: oklch(0.193 0 0);
  --popover: oklch(0.193 0 0);
  --sidebar: oklch(0.193 0 0);
  --foreground: oklch(0.962 0 0);
  --card-foreground: oklch(0.962 0 0);
  --popover-foreground: oklch(0.962 0 0);
  --sidebar-foreground: oklch(0.962 0 0);
  --primary: oklch(0.625 0.183 38);
  --sidebar-primary: oklch(0.625 0.183 38);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.212 0.012 37);
  --accent: oklch(0.212 0.012 37);
  --sidebar-accent: oklch(0.212 0.012 37);
  --secondary-foreground: oklch(0.961 0 0);
  --accent-foreground: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.961 0 0);
  --muted: oklch(0.277 0.013 42);
  --muted-foreground: oklch(0.679 0.01 34);
  --destructive: oklch(0.599 0.236 28);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.285 0.03 39);
  --sidebar-border: oklch(0.285 0.03 39);
  --ring: oklch(0.34 0.076 39);
  --sidebar-ring: oklch(0.34 0.076 39);
  --input: oklch(0.286 0.026 38);
  --chart-1: oklch(0.625 0.183 38);
  --chart-2: oklch(0.621 0.177 33);
  --chart-3: oklch(0.696 0.13 54);
  --chart-4: oklch(0.629 0.162 23);
  --chart-5: oklch(0.698 0.11 39);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-blinds: var(--font-blinds);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}